In [1]:
import numpy as np
import pandas as pd

In [2]:
experiment_df = pd.read_csv('experiment_database.csv')

In [3]:
print(experiment_df.shape)

(54, 32)

In [4]:
# `experiment_id` is a unique identifier corresponding 
# to the directory name where code, weights, and predictions are located
experiment_df.iloc[25]

experiment_id                          run-20210121-1931
LB_private                                        6.6325
LB_public                                         7.0552
CV_70k_tta9                                       7.0791
CV_70k                                             7.152
CV_14k_f0                                         7.2975
CV_14k_f1                                         7.4761
CV_14k_f2                                         6.7766
CV_14k_f3                                         7.2721
CV_14k_f4                                         6.8794
n_epochs_f0                                           15
n_epochs_f1                                            9
n_epochs_f2                                           14
n_epochs_f3                                           14
n_epochs_f4                                           15
ensemble_id                                     ens_both
task                                                regr
architecture                                    cnn-lstm
image_resolution                                     366
image_n_channels                                       3
image_inverted                                       yes
n_frames                                              24
step                                                   1
historical_depth                                      24
backbone                                 EfficientNet-B3
backbone_weights                                imagenet
batch_size                                            64
learning_rate                                     0.0001
max_n_epochs                                          15
aug_number                                             9
tta_number                                             9
experiment_description    Researching different backbone
Name: 25, dtype: object

In [5]:
# Look at all architectures
experiment_df['architecture'].value_counts()

cnn-lstm          26
cnn-3ch-ind       16
cnn-3ch-mean       3
cnn-trans          3
cnn-1ch            2
cnn-conv3d         2
cnn-convlstm2d     2
Name: architecture, dtype: int64

In [6]:
# What are architectures and historical depth of the best 10 models (based on local CV without TTA)
experiment_df.sort_values('CV_70k')[['CV_70k', 'architecture', 'historical_depth']][:10]

    CV_70k    architecture  historical_depth
35  7.0690        cnn-lstm                24
46  7.0699        cnn-lstm                60
34  7.0874        cnn-lstm                60
49  7.0912        cnn-lstm                48
29  7.1493        cnn-lstm                24
25  7.1520        cnn-lstm                24
38  7.1537        cnn-lstm                27
53  7.1571        cnn-lstm                24
51  7.1619  cnn-convlstm2d                24
27  7.1629        cnn-lstm                48

In [7]:
# What is the maximum historical depth used
experiment_df.sort_values('historical_depth', ascending=False)[['architecture', 'historical_depth']][:10]

    architecture  historical_depth
28      cnn-lstm                96
34      cnn-lstm                60
46      cnn-lstm                60
49      cnn-lstm                48
27      cnn-lstm                48
6   cnn-3ch-mean                45
33      cnn-lstm                36
2    cnn-3ch-ind                31
5   cnn-3ch-mean                30
38      cnn-lstm                27

In [8]:
# What are components of ensembles
# Ensemble of 22 models has only 3 models which were not included in ensemble of 51 models
experiment_df['ensemble_id'].value_counts()

ens_51_only    32
ens_both       19
ens_22_only     3
Name: ensemble_id, dtype: int64

In [9]:
# Wahat are backbones used
sorted(list(experiment_df['backbone'].unique()))

['C3D',
 'DenseNet121',
 'EfficientNet-B0',
 'EfficientNet-B3',
 'EfficientNet-B7',
 'InceptionResNetV2',
 'InceptionV3',
 'ResNet101',
 'ResNet152',
 'ResNet50',
 'ResNet50V2',
 'ResNet50_3D',
 'SEResNet50',
 'ViT-B16',
 'ViT-L16',
 'ViT-L32',
 'Xception']